version: '3.8'

services:

  php_pro_php_api:
    user: "www-data:www-data"
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
      args:
        ENVIRONMENT: development
        GROUP_ID: 1000
        USER_ID: 1000
    ports:
      - "9005:9001"

  php_pro_db:
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
    ports:
      - "5437:5432"

  php_pro_nginx_api:
    ports:
      - "86:80"

  php_pro_redis:
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    ports:
      - "6376:6379"

  php_pro_rabbitmq:
    environment:
      - RABBITMQ_DEFAULT_USER=${AMQP_USER}
      - RABBITMQ_DEFAULT_PASS=${AMQP_PASSWORD}
    volumes:
      - rabbitmq_storage:/var/lib/rabbitmq/
    ports:
      - "15674:15672"
      - "5674:5672"

networks:
  php_pro_networks:
    external: true
    name: php_pro_networks
    driver: bridge

volumes:
  db_storage:
    name: db_storage
    driver: local
  rabbitmq_storage:
    name: rabbitmq_storage
    driver: local
